<a href="https://colab.research.google.com/github/Rudraps07/30-Days-of-ML/blob/main/Multiple_Linear_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')

In [3]:
x=df.iloc[:,:-1]
y=df.iloc[:,-1]

In [7]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [8]:
states=pd.get_dummies(x["State"],drop_first=True)

In [9]:
x=x.drop('State',axis=1)

In [10]:
x=pd.concat([x,states],axis=1)

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [13]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [19]:
y_pred=model.predict(x_test)
print(y_pred)

[114664.4171587   90593.15531618  75692.84151576  70221.88679649
 179790.2551487  171576.9201852   49753.58752024 102276.65888937
  58649.37795765  98272.02561132]

In [21]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
print(score)

0.9649618042059875